*.class
bin/
gen/
CokeRewards/src/com/brianreber/cokerewards/Security.java

.classpath
.DS_Store
.project
*.jar
*.mode1v3
*.mode1
*.mode2
*.pbxuser
*.perspectivev3
*.xcworkspace
build/
classes/
logs/
xcuserdata/